@section title{
    Angular2 Version
}
@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/main');
    </script>
}
<my-app>
    <div>
        loading...
    </div>
</my-app>